body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* banner Styles */
.banner {
    position: relative;
    text-align: right;
    color: rgb(22, 21, 21);
}

.banner-content {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 10%;
}

.banner img {
    width: 100%;
}

#banner-title {
    font-weight: 700;
    font-size: 65px;
}

#banner-subtitle {
    font-size: 18px;
}

#contact-btn {
    background-color: #F15B22;
    border: 0;
    padding: 10px 15px;
    color: aliceblue;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* My failure of previous Year */
.previous-year,
.new-year-planning {
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.new-year-planning img {
    width: 80%;
    padding: 20px;
}

.plans {
    margin-top: 150px;
    text-align: center;
}

.plans h2 {
    font-size: 40px
}

.my-plan {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.positive-mindset {
    margin-top: 150px;
    position: relative;
    text-align: left;
    background-image: url(../images/watch.png);
}

.positive-content {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 30px;
    color: white;

}

#previous-year-content,
#new-year-content {
    padding: 60px;
}

li {
    list-style-type: none;
}

span {
    color: green;
}

.btn {
    padding: 10px 15px;
    color: tomato;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    background-color: black;
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

footer h3 {
    font-size: 45px;
}

footer p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

a {
    padding: 5px;
}

#sub-field {
    padding: 10px;
    margin-bottom: 15px;
}